.banner {
  background-image: url('../images/indexBanner.jpg');
  height: 480px;
  background-attachment: fixed;
  background-size: cover;
  padding-left: 180px;
  @media (max-width: 414px) {
    padding-left: 0;
  }
}

// cardList
.cardList {
  line-height: 30px;
  list-style: none;

  &__img  {
    width: 350px;
    height: 350px;
    object-fit: cover;
    display: block;
    @media (max-width: 768px ) {
      width: 100%;
    }
  }

  .fbIcon {
    width: 24px;
    height: 24px;
    @media (max-width: 414px) {
      width: 20px;
      height: 20px;
    }
  }
}

.livePeople {
  position: relative;
  line-height: 30px;
  &__author {
    width: 445px;
    height: 482px;
    background-color: $dark;
    opacity: .8;
  }
  &--bg {
    position: absolute;
    background-image: url('../images/people2.png');
    background-size: cover;
    background-attachment: fixed;
    height: 482px;
    z-index: -1;
  }
  @media (max-width:414px) {
    &__author {
      background-color: #190014CC;
      z-index: 1;
    }
    &--bg {
      background-repeat: no-repeat;
      top: 0;
      bottom: 0;
    }
  }
}

