
// line height
.lh-14 {
  line-height: 14px;
}

.lh-30 {
  line-height: 30px;
}


// spacer



// font size
.fs-12 {
  font-size: 12px;
}
.fs-32 {
  font-size: 32px;
}

// bg img
.bg-cover{
  background-position: center center; 
  background-size: cover;
}


